body {
    background-color: #111;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    padding: 20px;
}
img {
    border: 4px solid #00ffcc;
    border-radius: 12px;
    width: 90%;
    max-width: 600px;
}
h1 {
    color: #00ffcc;
    font-size: 2em;
    margin-bottom: 20px;
}
